<h1>API Catalogue Contents</h1>

<div style = "overflow-x:auto;">
<table style="width:100%">
<tr>
<th nowrap>Total APIs:</th>
<th nowrap>Departments Represented:</th>
</tr>
<tr>
<td nowrap><b>197</b></td>
<td nowrap><b>13</b></td>
</tr>
</table>
</div>


<div style = "overflow-x:auto;">
<table style="width:100%">
<tr>
<th nowrap>Department:</th>
<th nowrap>Number of APIs:</th>
<th nowrap>Date First Added:</th>
<th nowrap>Date Most Recent Added:</th>
<th nowrap>Link:</th>
</tr>
<tr>
<td nowrap><b>HMRC</b></td>
<td nowrap><b>79</b></td>
<td nowrap>2020-08-24</td>
<td nowrap>2020-08-26</td>
<td nowrap></td>
</tr>
<tr>
<td nowrap><b>NHS</b></td>
<td nowrap><b>39</b></td>
<td nowrap>2020-08-25</td>
<td nowrap>2020-08-25</td>
<td nowrap></td>
</tr>
<tr>
<td nowrap><b>NHS</b></td>
<td nowrap><b>39</b></td>
<td nowrap>2020-08-25</td>
<td nowrap>2020-08-25</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/nhs/">https://alphagov.github.io/api-catalogue/central/nhs/</a></td>
</tr>
<tr>
<td nowrap><b>DWP</b></td>
<td nowrap><b>38</b></td>
<td nowrap>2020-08-28</td>
<td nowrap>2020-09-01</td>
<td nowrap></td>
</tr>
<tr>
<td nowrap><b>GDS</b></td>
<td nowrap><b>12</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/gds/">https://alphagov.github.io/api-catalogue/central/gds/</a></td>
</tr>
<tr>
<td nowrap><b>Environment Agency</b></td>
<td nowrap><b>9</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-26</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/ea/">https://alphagov.github.io/api-catalogue/central/ea/</a></td>
</tr>
<tr>
<td nowrap><b>Ordnance Survey</b></td>
<td nowrap><b>8</b></td>
<td nowrap>2020-08-24</td>
<td nowrap>2020-08-24</td>
<td nowrap></td>
</tr>
<tr>
<td nowrap><b>Department for Education</b></td>
<td nowrap><b>3</b></td>
<td nowrap>2020-08-24</td>
<td nowrap>2020-08-24</td>
<td nowrap></td>
</tr>
<tr>
<td nowrap><b>ONS</b></td>
<td nowrap><b>9</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/ons/">https://alphagov.github.io/api-catalogue/central/ons/</a></td>
</tr>
<tr>
<td nowrap><b>Food Standards Agency</b></td>
<td nowrap><b>2</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/fsa/">https://alphagov.github.io/api-catalogue/central/fsa/</a></td>
</tr>
<tr>
<td nowrap><b>DVLA</b></td>
<td nowrap><b>2</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/dvla/">https://alphagov.github.io/api-catalogue/central/dvla/</a></td>
</tr>
<tr>
<td nowrap><b>Companies House</b></td>
<td nowrap><b>2</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/ch/">https://alphagov.github.io/api-catalogue/central/ch/</a></td>
</tr>
<tr>
<td nowrap><b>Scottish Government</b></td>
<td nowrap><b>1</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/central/scot/">https://alphagov.github.io/api-catalogue/central/scot/</a></td>
</tr>
<tr>
<td nowrap><b>Local Government</b></td>
<td nowrap><b>3</b></td>
<td nowrap>2020-01-09</td>
<td nowrap>2020-08-24</td>
<td nowrap><a href="https://alphagov.github.io/api-catalogue/local/">https://alphagov.github.io/api-catalogue/local/</a></td>
</tr>
</table>
</div>