---
title: API Catalogue Contents
weight: 1000
hide_in_navigation: true
---

## API Catalogue Contents

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Total APIs:|Departments Represented:|
|:---|:---|
|211|16|

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Department|Number of APIs|First Added|Last Update|Link|
|HM Revenue & Customs|80|||[HMRC](/HMRC/)|
|National Health Service|39|||[NHS](/NHS/)|
|Department of Work and Pensions|38|||[DWP](/DWP/)|
|Government Digital Service|12|||[GDS](/GDS/)|
|UK Hydrographic Office|10|||[UKHO](/UKHO/)|
|Environment Agency|9|||[EA](/EA/)|
|Ordnance Survey|8|||[OS](/OS/)|
|Department for Education|3|||[DfE](/DfE/)|
|Companies House|2|||[CH](/CH/)|
|Driver and Vehicle Licensing Agency|2|||[DVLA](/DVLA/)|
|Food Standards Agency|2|||[FSA](/FSA/)|
|Office of National Statistics|2|||[ONS](/ONS/)|
|London Borough of Hackney|1|||[Hackney](/Hackney/)|
|London Borough of Hackney|1|||[LG](/LG/)|
|Scottish Government|1|||[Scot](/Scot/)|
|West Berkshire Council|1|||[WBerks](/WBerks/)|
